.preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background-color:var(--invitation-bg);
}
.loading {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    font: 14px arial;
    color: var(--counter-bg);
}
.bg-navigation{
    background-color: var(--invitation-bg);
}
#modalInvitation .modal-content{
    background-color: var(--invitation-bg);
}
html body{
    background-color: var(--bs-primary-light);
    font-family: 'Baskervville', serif;
}
.font-title{
    font-family: 'Arizonia', cursive;
}
#cover .title, #modalInvitation .title{
    font-size: 48px !important;
}
.badge-countdown{
    background-color: var(--bs-primary);
}
.splide__arrow {
    background: var(--bs-primary);
}
.splide--nav>.splide__slider>.splide__track>.splide__list>.splide__slide.is-active, .splide--nav>.splide__track>.splide__list>.splide__slide.is-active {
    border: 3px solid var(--bs-primary);
}
.splide__arrow svg {
    fill: var(--bs-primary-light);
}
.form-control.form-control-solid {
    background-color: var(--bs-primary-light);
    border-color: var(--bs-primary-light);
    /* color: var(--); */
    transition: color 0.2s ease, background-color 0.2s ease;
}
.dropdown.show > .form-control.form-control-solid, .form-control.form-control-solid:active, .form-control.form-control-solid.active, .form-control.form-control-solid:focus, .form-control.form-control-solid.focus {
    background-color: var(--bs-primary-light);
    border-color: var(--bs-primary-light);
    /* color: var(--bs-primary-light); */
}
#kt_content{
    background: url(/themes/peppy/img/flower-1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: contain;
}
.card{
    border-radius: 20px;
    box-shadow: 0px 0px 20px 0px rgb(0 0 0 / 30%);
    background-image: url("/themes/peppy/img/Asset 6.png"), url("/themes/peppy/img/Asset 7.png");
    background-repeat: no-repeat, no-repeat;
    background-size: contain, contain;
    background-position: top right, bottom center;
    padding-bottom: 75px;
}
.bg-avatar .symbol{
    box-shadow: 0px 0px 20px 0px rgb(0 0 0 / 30%);
    border: 7px solid var(--bs-primary);
}

#mitra-container {
    background-size: cover !important;
    background-position: center !important;
}
